// colors
$yellow-green: purple;
$pinky: #eb5fac;
$blue-off: #47a09d;
$orange-off: #e78456;
$green-light: #4dff4d;
$blue-weak: rgb(101, 119, 134);

// breakpoints
$mobileS: '320px';
$mobileM: '375px';
$mobileL: '425px';
$tablet: '768px';
$laptop: '1024px';
$laptopL: '1440px';
$desktop: '2560px';